fastapi==0.115.0
fastapi-mcp==0.3.3
pydantic==2.11.4
zstandard==0.23.0
huggingface_hub==0.30.2
pytest==8.3.5
loguru==0.7.3
transformers==4.51.3
torch==2.7.0 
langchain==0.3.25
langchain-huggingface==0.1.2
langchain-ollama==0.3.2
langchain-google-genai==2.1.
langchain-tavily==0.1.6
langgraph==0.4.3
langgraph-supervisor==0.0.21
langsmith==0.3.42
streamlit==1.45.0
grpcio-status==1.50.0rc1
protobuf==5.29.4
google-genai==1.14.0
aiohttp[speedups]
pytest==8.3.5